*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

div{
    width: 500px;
    padding: 10px;
    margin: auto;
    
}

h1{
    text-align: center;
    color: black;
    font-weight: lighter;
}

ul li{
    display: inline-block;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

ul li span{
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
